---
import Layout from '../layouts/Layout.astro';
import GlitchText from '../components/GlitchText.astro';
import Portfolio from '../components/Portfolio';
import { FaGithub, FaLinkedin, FaEnvelope } from 'react-icons/fa';
import BackgroundMotion from '../components/BackgroundMotion';
---

<Layout title="Carolina Rodríguez">
	<div class="relative min-h-screen bg-black text-white overflow-hidden">
		<BackgroundMotion client:load />
		<div class="relative z-10 p-8 max-w-6xl mx-auto">
			<header class="mb-12 text-center">
				<h1 class="text-3xl font-bold tracking-tight sm:text-4xl md:text-6xl">
					<GlitchText text="Carolina Rodríguez" />
				</h1>
				<p class="text-lg sm:text-xl md:text-2xl text-gray-400 mt-2 bg-gradient-to-b from-gray-300 to-gray-500 text-transparent bg-clip-text">
					Desarrolladora Full Stack
				</p>
			</header>

			<Portfolio client:load />

			<footer class="mt-12 flex flex-col items-center space-y-4">
				<div class="flex space-x-6">
				  <a href="https://github.com/Estivbi" class="text-gray-400 hover:text-white transition-transform transform hover:scale-110">
					<span class="sr-only">GitHub</span>
					<FaGithub className="h-6 w-6" />
				  </a>
				  <a href="https://www.linkedin.com/in/carolinarodriguezbarcena/" class="text-gray-400 hover:text-white transition-transform transform hover:scale-110">
					<span class="sr-only">LinkedIn</span>
					<FaLinkedin className="h-6 w-6" />
				  </a>
				  <a href="mailto:carolinarb1994@gmail.com" class="text-gray-400 hover:text-white transition-transform transform hover:scale-110">
					<span class="sr-only">Gmail</span>
					<FaEnvelope className="h-6 w-6" />
				  </a>
				</div>
				<p class="text-gray-400">© 2024 Carolina Rodríguez.</p>
			  </footer>
		</div>
	</div>
</Layout>